<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div th:insert="components/header :: header"></div>
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-6">
            <div class="members" id="members_list">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Username</th>
                        <th>Send Message</th>
                    </tr>
                    </thead>
                    <tbody id="users_list"></tbody>
                </table>
            </div>
        </div>
        <div class="col-6" id="message_form_parent"></div>
    </div>
</div>
</body>
<script>
    function getUsers() {
        let users_list_element = document.getElementById("users_list");
        let userOwnNick = localStorage.getItem("nick");
        fetch("/api/user/users", {
            method: "GET",
            headers: {
                "Content-Type": "application/json",
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error ${response.status}`);
                } else {
                    return response.json();
                }
            })
            .then(data => {
                data.forEach(user => {
                    if (user.nick === userOwnNick) {
                        console.log("user nick equals your own nick.");
                    } else {
                        let row = document.createElement("tr");
                        row.innerHTML = `
                        <td>${user.nick}</td>
                        <td>
                            <button class="btn btn-primary" onclick="openMessageForm('${user.nick}')">Send Message to ${user.nick}</button>
                        </td>
                    `;
                        users_list_element.appendChild(row);
                    }
                });
                // Handle the JSON data here
                console.log(data);
            })
            .catch(error => {
                console.error(error);
            });
    }

    getUsers();

    function openMessageForm(nick) {
        let message_form_parent = document.getElementById("message_form_parent");
        let message_form = document.createElement("div");
        message_form.setAttribute("class", "row");
        message_form.innerHTML = `
                <div class="float-end">
                    <div class="fs-3 text-decoration-underline float-end">${nick}</div>
                </div>
            </div>
            <div class="row">
                <div id="messages" class="row">
                    <ul>
                        <li>Message 1</li>
                        <li>Message 2</li>
                        <li>Message 3</li>
                        <li>Message 4</li>
                    </ul>
                </div>
                <div class="row">
                    <form class="form-control" id="message_form">
                        <label for="message_input" class="col-form-label">Your message</label>
                        <input type="text" id="message_input" class="input-group mb-2">
                        <button type="submit" class="btn btn-primary" onclick="sendMessageToUser('${nick}')">Send</button>
                        <button type="button" class="btn btn-warning my-2" onclick="getMessagesFromUser('${nick}')">Get</button>
                    </form>
                </div>
        `
        message_form_parent.appendChild(message_form);
        console.log(nick);
    }

    function sendMessageToUser(nick) {
        event.preventDefault();
        // Get the value of the input element
        const messageInput = document.getElementById("message_input").value;
        sendMessage(nick, messageInput);

        document.getElementById("message_input").value = "";
    }

    function sendMessage(nick, message_input) {
        const ownNick = localStorage.getItem("nick");
        const message_date = new Date().toDateString();
        const message_time = new Date().toTimeString();
        console.log(message_input + " is sending to " + nick + " from " + ownNick + " date: " + message_date + " time: " + message_time);
    }

    function getMessagesFromUser(nick) {
        console.log("Getting messages from " + nick);
    }

</script>
</html>