<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/app.js"></script>
</head>
<body>
<div th:insert="components/header :: header"></div>

<div class="username">
    <div class="row">
        <h3>WebSocket connection:</h3>
        <form id="websocket_form">
            <div class="row">
                <p>Username: <span id="username"></span></p>
                <button id="connect" type="submit" disabled="disabled">Connect</button>
                <button id="disconnect" type="submit" disabled="disabled">Disconnect</button>
            </div>
        </form>
        <div id="online" style="display: inline-block"></div>
        <div id="send_message">
            <form id="form_send_message">
                <div>
                    <label id="message_label" class="row" for="send">Send a public message:</label>
                    <input type="text" id="input_send_message" placeholder="Type your message here...">
                    <button id="send" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="members" id="members_list">
    <table class="table">
        <thead>
        <tr>
            <th>Username</th>
            <th>Send Message</th>
        </tr>
        </thead>
        <tbody id="users_list"></tbody>
    </table>
</div>
<div class="messages" id="message_list">
    <p>Messages List:</p>
    <div id="conversation">
        <table>
            <thead>
            <tr>
                <th>Messages:</th>
            </tr>
            </thead>
            <tbody id="messages_list"></tbody>
        </table>
    </div>
</div>
</body>
<script>
    function getUsers() {
        let users_list_element = document.getElementById("users_list");
        let userOwnNick = localStorage.getItem("nick");
        fetch("/api/user/users", {
            method: "GET", // Replace with your desired method (e.g., POST, PUT, DELETE)
            headers: {
                "Content-Type": "application/json", // Set appropriate content type
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error ${response.status}`);
                } else {
                    return response.json(); // Parse the response as JSON
                }
            })
            .then(data => {
                data.forEach(user => {
                    if (user.nick === userOwnNick) {
                       console.log("user nick equals your own nick.");
                    } else {
                        let row = document.createElement("tr");
                        row.innerHTML = `
                        <td>${user.nick}</td>
                        <td>
                            <button class="btn btn-primary" onclick="sendMessageToUser('${user.nick}')">Send Message to ${user.nick}</button>
                        </td>
                    `;
                        users_list_element.appendChild(row);
                    }
                });
                // Handle the JSON data here
                console.log(data);
            })
            .catch(error => {
                console.error(error);
            });
    }

    getUsers();

    function sendMessageToUser(nick) {
        console.log(nick);
    }
</script>
</html>